<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form Daftar</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- /google fonts-->
</head>

<body>
	<div class=" w3l-login-form">
        <h2>WELCOME</h2>

        {%if users%}
        <div class="users" style="margin-left:20%">
        <h2>Registered Users List</h2>
        <table style="width:100%;">
            {%for user in users%}
            <tr>
                <td>{{user[0]}}</td>
            </tr>   
            {%endfor%}
        </table>
        </div>
        {%endif%}

    </div>
</body>
</html>