<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Website</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- /google fonts-->
</head>

<body>
	<div class=" w3l-login-form">
        <h2>WELCOME TO MY WEBSITE</h2>
        <br>
        <br>
        <p class=" w3l-register-p"><a href="{{url_for('Login') }} " class="register">Login  </a>  |  <a href="{{url_for('isiRegister') }} " class="register">  Daftar</a></p>
    </div>
</body>
</html>