<!DOCTYPE html>
<html>

<head>
    <title>Form Login</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- /google fonts-->
</head>

<body>
	<div class=" w3l-login-form">
        <h2>Login Here</h2>
        <form action="{{ url_for('actionLogin') }}" method="POST">

            <div class=" w3l-form-group">
                <label>Username:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Email" required="required" name="email" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Password:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Password" required="required" name="pass" />
                </div>
            </div>
            <div class="forgot">
                <a href="#">Lupa Password?</a>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class=" w3l-register-p">Tidak punya akun?<a href="{{url_for('isiRegister') }} " class="register"> Daftar</a></p>
    </div>

</body>
</html>