<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form Daftar</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- /google fonts-->
</head>

<body>
	<div class=" w3l-login-form">
        <h2>Daftar Akun</h2>
        <form action="{{ url_for('simpanData') }}" method="POST">
			
			<div class=" w3l-form-group">
                <label>NIK:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="NIK" required="required" name="nik" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Nama Lengkap:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Nama" required="required" name="nama" />
                </div>
            </div>
			<div class=" w3l-form-group">
                <label>Level:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Level" required="required" name="level" />
                </div>
            </div>
			<div class=" w3l-form-group">
                <label>Email:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Email" required="required" name="email" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Password:</label>
                <div class="group">
                    <input type="password" class="form-control" placeholder="Password" required="required" name="pass" />
                </div>
            </div>
            
            <input type="submit" name="submit" value="Simpan">
        </form>
    </div>
</body>
</html>